<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация сотрудника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <header th:insert="~{blocks/navbar :: navbar}" />
    <main>
        <section>
            <div class="container-fluid py-1">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <form class="p-5 rounded" th:action="@{/employee/add}" th:object="${employeeDto}" method="post">
                            <h2 class="text-center mb-4">Добавление нового сотрудника</h2>
                            <div th:if="${positions.isEmpty()}">
                                <div class="alert alert-danger" role="alert">
                                    <p>Список должностей пуст! Из-за этого создать работника не получится!
                                        Для начала добавьте должности!</p>
                                </div>
                            </div>
                            <div th:if="${success}">
                                <div class="alert alert-success" role="alert">
                                    <p th:text="${success}"></p>
                                </div>
                            </div>
                            <div th:if="${error}">
                                <div class="alert alert-danger" role="alert">
                                    <p th:text="${error}"></p>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="fullName" name="fullName" placeholder=" " required>
                                <label for="fullName">ФИО</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder=" " required>
                                <label for="phoneNumber">Номер телефона</label>
                            </div>
                            <div th:if="${!positions.isEmpty()}" class="form-floating mb-3">
                                <select class="form-select" id="positionId" name="positionId" required>
                                    <option value="">Выберите должность</option>
                                    <th:block th:each="pos : ${positions}">
                                        <option th:value="${pos.id}" th:text="${pos.name}"></option>
                                    </th:block>
                                </select>
                                <label for="positionId">Должность</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="username" name="username" placeholder=" " required>
                                <label for="username">Логин</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password" placeholder=" " required>
                                <label for="password">Пароль</label>
                            </div>
                            <div class="d-grid mb-3">
                                <button th:if="${!positions.isEmpty()}" class="btn btn-success" type="submit">Добавить сотрудника</button>
                                <button th:if="${positions.isEmpty()}" disabled class="btn btn-success" type="submit">Добавить сотрудника</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>