<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<!--th:action="@{/login}" th:object="${userDto}" method="post"-->
<body>
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <form class="p-5 rounded" th:action="@{/login}" th:object="${userDto}" method="post">
                <h2 class="text-center mb-4">Авторизация</h2>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder=" " required>
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder=" " required>
                    <label for="password">Пароль</label>
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-success" type="submit">Войти</button>
                </div>
                <p class="text-center">
                    Нет аккаунта?
                    <a th:href="@{/registration}" class="text-decoration-none text-success">Зарегистрируйтесь</a>
                </p>
            </form>
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-4 mt-5">-->
<!--            <div class="card bg-secondary">-->
<!--                <div class="card-header bg-primary text-white text-center">-->
<!--                    <h4>Login</h4>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <form th:action="@{/login}" method="post">-->
<!--                        <div class="form-floating mb-3">-->
<!--                            <input type="text" class="form-control bg-dark text-white" id="username" placeholder="Username" name="username" required>-->
<!--                            <label for="username" class="text-white">Username</label>-->
<!--                        </div>-->
<!--                        <div class="form-floating mb-3">-->
<!--                            <input type="password" class="form-control bg-dark text-white" id="password" placeholder="Password" name="password" required>-->
<!--                            <label for="password" class="text-white">Password</label>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary btn-block">Login</button>-->
<!--                    </form>-->
<!--                    <hr>-->
<!--                    <p class="text-center text-white">Don't have an account? <a th:href="@{/register}" class="text-primary">Register</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-4oVyS9POlB8d6NECi4sCqUrl4BqWyJkc/rW8Kd6Ujlz6U7kMQwmxKjPG8yTsaJXh"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k0tGvE+k+p3r3qskfjSiIbnA0/q1ZZQm02ZBxPZmOtn7JJYEdk+Dif/Abcz1ilQ/"
        crossorigin="anonymous"></script>
</body>
</html>
