<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Должности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/navbar :: navbar}" />
<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <a href="/position/add" class="btn btn-success">Добавить должность</a>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr class="text-center">
            <th class="align-middle" scope="col">Должность</th>
            <th class="align-middle" scope="col">Ставка в час</th>
            <th class="align-middle" scope="col"></th>
            <th class="align-middle" scope="col"></th>
        </tr>
        </thead>
        <tbody th:each="position : ${positions}">
        <tr>
            <td class="text-center align-middle" th:text="${position.name}"></td>
            <td class="text-center align-middle" th:text="${position.hourlyRate}"></td>
            <td class="text-center align-middle">
                <a th:href="@{/position/{id}/edit(id=${position.id})}" class="btn btn-success">
                    Редактировать
                </a>
            </td>
            <td class="text-center align-middle">
                <form th:action="@{/position/{id}/remove(id=${position.id})}" method="post">
                    <button class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>